.result_block {
  display: flex;
  max-width: 70%;
  margin: auto;
  justify-content: space-between;
}

.result_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}