.CardContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.CardBlock {
  display: flex;
  gap: 5px;
}

.ImgBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImage {
  width: 200px;
  height: 200px;
  object-fit: contain;
}